body{
  display: flex;
  background-image:url(https://t4.ftcdn.net/jpg/02/58/34/19/360_F_258341935_d1444jbwhwYa6vpepkdhpkHgmITEZxF3.jpg);
}
img{
  margin-top:-10px;
  margin-left: 5%;
    width:450px;
    height:800px;
   

  }
 p{
    border:1px solid transparent;
    margin-right:40%;
    padding:50px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 3px;
 }